# Created by https://www.toptal.com/developers/gitignore/api/stata
# Edit at https://www.toptal.com/developers/gitignore?templates=stata

### Stata ###
# .gitignore file for git projects containing Stata files
# Commercial statistical software: http://www.stata.com

# Stata dataset and output files
*.gph
*.log
*.smcl
*.stpr
*.stsem

# Instructional documents
*.docx

# Graphic export files from Stata
# Stata command graph export: http://www.stata.com/manuals14/g-2graphexport.pdf
#
# You may add graphic export files to your .gitignore. However you should be
# aware that this will exclude all image files from this main directory
# and subdirectories.
# *.ps
# *.eps
# *.wmf
# *.emf
# *.pdf
# *.png
# *.tif

# Prevent .DS_Store files (common on macOS) from being tracked
.DS_Store

# End of https://www.toptal.com/developers/gitignore/api/stata